export const firebaseConfig = {
    apiKey: 'xyzxyzxyzxyzxyzxyzxyzxyzxyzxyzxyzxyzxyz',
    authDomain: 'your-app-id.firebaseapp.com',
    databaseURL: 'https://your-app-id.firebaseio.com',
    storageBucket: 'your-app-id.appspot.com',
    messagingSenderId: 'your-sender-id'
};